{% block content %}
{% load static %}

<style>
	@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

	html,
	body {
		position: relative;
		min-height: 100vh;
		background-color: #E1E8EE;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: "Fira Sans", Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.form-structor {
		background-color: rgba(235, 113, 13, 0.4);
		border-radius: 15px;
		height: 100vh;
		width: 100vw;
		position: relative;
		overflow: hidden;

		&::after {
			content: '';
			opacity: .8;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-repeat: no-repeat;
			background-position: left bottom;
			/* background-size: 500px; */

		}

		/* .signup .input-text{
			width: 100%;
			padding: 20px;
			height: 20px;
			
		} */

		.signup {
			position: absolute;
			top: 40%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			width: 65%;
			z-index: 5;
			-webkit-transition: all .3s ease;


			&.slide-up {
				top: 3%;
				-webkit-transform: translate(-50%, 0%);
				-webkit-transition: all .3s ease;
				border-radius: 100%;
			}

			&.slide-up .form-holder,
			&.slide-up .submit-btn {
				opacity: 0;
				visibility: hidden;
			}

			&.slide-up a .form-title {
				font-size: 1em;
				cursor: pointer;
			}

			&.slide-up .form-title span {
				margin-right: 5px;
				opacity: 1;
				visibility: visible;
				-webkit-transition: all .3s ease;
			}

			.form-title {
				color: #fff;
				font-size: 2.2em;
				text-align: center;
				text-shadow: 2px 2px 4px #000000;

				span {
					color: rgba(0, 0, 0, 0.4);
					opacity: 0;
					visibility: hidden;
					-webkit-transition: all .3s ease;
				}
			}

			.form-holder {
				border-radius: 15px;
				background-color: #fff;
				overflow: hidden;
				/* margin-top: 50px; */
				opacity: 1;
				visibility: visible;
				-webkit-transition: all .3s ease;

				.input {
					border: 0;
					outline: none;
					box-shadow: none;
					display: block;
					height: 30px;
					line-height: 30px;
					padding: 8px 15px;
					border-bottom: 1px solid #eee;
					width: 100%;
					font-size: 12px;

					&:last-child {
						border-bottom: 0;
					}

					&::-webkit-input-placeholder {
						color: rgba(0, 0, 0, 0.4);
					}
				}

				
			}

			.submit-btn {
				background-color: rgba(0, 0, 0, 0.4);
				color: rgba(256, 256, 256, 0.7);
				border: 0;
				border-radius: 15px;
				display: block;
				margin: 15px auto;
				padding: 15px 45px;
				width: 100%;
				font-size: 13px;
				font-weight: bold;
				cursor: pointer;
				opacity: 1;
				visibility: visible;
				-webkit-transition: all .3s ease;

				&:hover {
					transition: all .3s ease;
					background-color: rgba(0, 0, 0, 0.8);
				}
			}
		}

		.login {

			position: absolute;
			top: 10%;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #fff;
			z-index: 5;
			-webkit-transition: all .3s ease;


			&::before {
				content: '';
				position: absolute;
				left: 50%;
				top: -10px;
				-webkit-transform: translate(-50%, 0);
				background-color: #fff;
				width: 200%;
				height: 250px;
				border-radius: 50%;
				z-index: 4;
				-webkit-transition: all .3s ease;
			}

			.center {
				position: absolute;
				top: 50%;
				left: 50%;
				-webkit-transform: translate(-50%, -50%);
				width: 65%;
				z-index: 5;
				-webkit-transition: all .3s ease;

				.form-title {
					color: #fdfbfb;
					font-size: 2.2em;
					text-align: center;
					text-shadow: 2px 2px 4px #000000;

					span {
						color: rgba(0, 0, 0, 0.4);
						opacity: 0;
						visibility: hidden;
						-webkit-transition: all .3s ease;
					}
				}

				.form-holder {
					border-radius: 15px;
					/* background-color: #fff; */
					/* border: 1px solid #eee; */
					overflow: hidden;
					margin-top: 50px;
					opacity: 1;
					visibility: visible;
					-webkit-transition: all .3s ease;

					.input {
						border: 0;
						outline: none;
						box-shadow: none;
						display: block;
						height: 30px;
						line-height: 30px;
						padding: 8px 15px;
						border-bottom: 1px solid #eee;
						width: 100%;
						font-size: 12px;

						&:last-child {
							border-bottom: 0;
						}

						&::-webkit-input-placeholder {
							color: rgba(0, 0, 0, 0.4);
						}
					}
				}

				.submit-btn {
					background-color: #6B92A4;
					color: white;
					font-weight: bold;
					border: 0;
					border-radius: 15px;
					display: block;
					margin: 15px auto;
					padding: 15px 45px;
					width: 100%;
					font-size: 13px;
					font-weight: bold;
					cursor: pointer;
					opacity: 1;
					visibility: visible;
					-webkit-transition: all .3s ease;

					&:hover {
						transition: all .3s ease;
						background-color: rgba(0, 0, 0, 0.8);
					}
				}
			}

			&.slide-up {
				top: 90%;
				-webkit-transition: all .3s ease;
			}

			&.slide-up .center {
				top: 10%;
				-webkit-transform: translate(-50%, 0%);
				-webkit-transition: all .3s ease;
			}

			&.slide-up .form-holder,
			&.slide-up .submit-btn {
				opacity: 0;
				visibility: hidden;
				-webkit-transition: all .3s ease;
			}

			&.slide-up .form-title {
				font-size: 1.5em;
				margin: 5px;
				margin-bottom: 50px;
				padding: 0;
				cursor: pointer;
				-webkit-transition: all .3s ease;
			}

			&.slide-up .form-title span {
				margin-right: 5px;
				opacity: 1;
				visibility: visible;
				-webkit-transition: all .3s ease;
			}
		}
	}
	@media only screen and (max-width: 768px) {
					
		.signup img {
			display: none;
		}


	}
</style>

<div class="container">
	{% for message in messages %}
	<h5>
		<div class="alert alert-danger mt-5" style="width: 50%;">
			{{ message }}
		</div>
	</h5>
	{% endfor %}
</div>

<div class="form-structor">
	<div class="signup">
		<a href="{% url 'log' %}" style="text-decoration: none;">
			<h2 class="form-title" id="signup"><b>SIGN UP</b></h2>
		</a>
		<div class="row"
			style="display: flex;box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);">
			<div class="col-md-5" style="display: flex;">
				<img src="{% static 'images/reg1.webp' %}" alt=""
					style="width: 500px;height: 500px;border-top-left-radius:10px ;border-bottom-left-radius: 10px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
			</div>
			<div class="col-md-5">
				<div class="form-holder"
					style="width: 500px;height: 500px; border-top-right-radius:10px ;border-bottom-right-radius: 10px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;">
					<form class="form sign-up p-2 mt-3" action="{% url 'register_user' %}" method="post"
						autocomplete="off">
						{% csrf_token %}

						<label>
							<input type="text" class="input" name="fname" id="first-name" class="input-text"
								placeholder="First Name"
								style="padding: 20px;background-color: rgba(232, 183, 138, 0.4);margin-top: 30px; margin-bottom: 10px;width: 80%;margin-left: 10%; border-radius: 10px;"
								required>
						</label>

						<label>
							<input type="text" class="input" name="lname" id="last-name" class="input-text"
								placeholder="Last Name"
								style="padding: 20px;background-color: rgba(232, 183, 138, 0.4);margin-top: 10px; margin-bottom: 10px;width: 80%;margin-left: 10%; border-radius: 10px;"
								required>
						</label>

						<label>
							<input type="text" class="input" name="uname" id="uname" class="input-text"
								placeholder="User Name"
								style="padding: 20px;background-color: rgba(232, 183, 138, 0.4);margin-top: 10px; margin-bottom: 10px;width: 80%;margin-left: 10%; border-radius: 10px;"
								required>
						</label>

						<label>
							<input type="text" class="input" name="email" id="your-email" class="input-text"
								placeholder="Email Address"
								style="padding: 20px;background-color: rgba(232, 183, 138, 0.4);margin-top: 10px; margin-bottom: 10px;width: 80%;margin-left: 10%; border-radius: 10px;"
								required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
						</label>

						<label>
							<input type="text" class="input" name="phone" id="phone" class="input-text"
								placeholder="Contact Number"
								style="padding: 20px;background-color: rgba(232, 183, 138, 0.4);margin-top: 10px; margin-bottom: 10px;width: 80%;margin-left: 10%; border-radius: 10px;"
								required>
						</label>

						<label>
							<input type="password" class="input" name="password" id="password" class="input-text"
								placeholder="Password"
								style="padding: 20px;background-color: rgba(232, 183, 138, 0.4);margin-top: 10px; margin-bottom: 10px;width: 80%;margin-left: 10%; border-radius: 10px;"
								required>
						</label>

						<label>
							<input type="password" class="input" name="cpassword" id="comfirm-password"
								class="input-text"
								style="padding: 20px;background-color: rgba(232, 183, 138, 0.3);margin-top: 10px; margin-bottom: 10px;width: 80%;margin-left: 10%; border-radius: 10px;"
								placeholder="Comfirm Password" required>
						</label>

						<button type="submit" class="submit-btn text-white" name="register"
							style="background: #ef8c12;color:white;font-size: large; width: 60%;"><b>Sign up</b>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>


	<div class="login slide-up" style="box-shadow: 16px 6px 8px 16px rgba(0, 0, 0, 0.9), 16px 6px 20px 16px rgba(0, 0, 0, 0.9);">
		<div class="center">
			<h2 class="form-title " id="login" style="color: #ef8c12 ;">LOG IN</h2>
			<div class="row"
				style="display: flex;background-color: rgba(235, 113, 13, 0.4);margin-bottom: 20px;display: flex;box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.9);">
				<div class="col-md-5" style="display: flex;">
					<img src="{% static 'images/log1.webp'%}" alt=""
						style="width: 500px;height: 400px;border-top-left-radius:10px ;border-bottom-left-radius: 10px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
				</div>
				<div class="col-md-5"
					style="width: 500px;height: 400px; border-top-right-radius:100px ;border-bottom-right-radius: 10px;border-top-left-radius: 0px;border-bottom-left-radius: 0px;">
					<div class="form-holder">
						<form class="form sign-in" action="{% url 'login' %}" method="post" autocomplete="off">
							{% csrf_token %}

							<label>
								<input type="text" class="input" name="username" id="your-email" class="input-text"
									placeholder="Username"
									style="padding: 25px;background-color: rgba(254, 254, 253);margin-top: 20px; margin-bottom: 20px;width: 80%;margin-left: 10%; border-radius: 50px;"
									required>
							</label>

							<label>
								<input type="password"
									style="padding: 25px;background-color: rgba(250, 249, 249);margin-top: 10px; margin-bottom: 20px;width: 80%;margin-left: 10%; border-radius: 50px;"
									class="input" name="password" id="password" class="input-text"
									placeholder="Password" required>
							</label>

							<button type="submit" class="submit-btn" name="login" class="register"
								style="background: #455a81;width: 50%; margin-top: 30px;font-weight: bold;font-size: 15px;background: #ef8c12;">Log
								in</button>

							<div class="col-md-8 pt-4  text-center">
								<a href="/forgotpassword" class="text-warning"
									style="text-decoration: none;margin-left: 150px;">Forgot
									Password?</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
	console.clear();

	const loginBtn = document.getElementById('login');
	const signupBtn = document.getElementById('signup');

	loginBtn.addEventListener('click', (e) => {
		let parent = e.target.parentNode.parentNode;
		Array.from(e.target.parentNode.parentNode.classList).find((element) => {
			if (element !== "slide-up") {
				parent.classList.add('slide-up')
			} else {
				signupBtn.parentNode.classList.add('slide-up')
				parent.classList.remove('slide-up')
			}
		});
	});

	signupBtn.addEventListener('click', (e) => {
		let parent = e.target.parentNode;
		Array.from(e.target.parentNode.classList).find((element) => {
			if (element !== "slide-up") {
				parent.classList.add('slide-up')
			} else {
				loginBtn.parentNode.parentNode.classList.add('slide-up')
				parent.classList.remove('slide-up')
			}
		});
	});
</script>

{% endblock content %}