<!-- create by athul -->

{% extends 'admin/adminbase.html' %}

{% block content %}
{% load static %}
<style>
    /* body{
        background-color: rgb(193, 221, 245);
    } */
    body{
      background-color: rgba(176, 199, 205, 0.4);
    }
    @media screen and (min-width: 768px) {
        .card{
            width: 80%;
        }
    }
    .fa{
      color: white;
    }
    h6{
      color: white;
    }
    h6:hover{
      color: #16c7ff;
    

    }
    .fa:hover{
      color: #16c7ff;
      
      animation: swing ease-in-out 0.5s 1 alternate;
      
    }
    #col1:hover{
      color: #16c7ff;
      text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
      cursor: pointer;
     


    }
    
    #col2:hover{
      color: #16c7ff;
      text-shadow: 0px 0px 10px rgba(22, 199, 255, 0.5);
      cursor: pointer;

    }
    

</style>

<body>


   <div class="container-fluid p-5" >
    <div class="row p-3 m-3 mt-5">
      <div class="col-md-3 p-5 mr-5 mt-1" id="col1" style=" background-color: #454545;border: 1px solid white;border-radius: 6px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <center>
         <a href="{% url 'client_request' %}">
          <i class="fa fa-user-plus" style="font-size: 1.5em;"></i>
          <h6 class="text-center mt-2.5" style="font-weight: bold;">CLIENTS REQUEST</h6>
         </a>
        </center>

      </div>
      <div class="col-md-3 p-5 mr-5 mt-1" id="col2" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);background-color: #454545;border: 1px solid white;border-radius: 6px;">
        <center>
          <a href="{% url 'client_details' %}">
          <i class="fa fa-users" style="font-size: 1.5em;"></i>
        <h6 class="text-center mt-2.5" style="font-weight: bold;">ALL CLIENTS</h6></a>
        </center>
        
      </div>
    </div>
   </div>
</body>


{% endblock content %}