{% extends 'admin/adminbase.html' %}

{% block content %}
{% load static %}


<div class="body-wrapper">
    <div class="container-fluid" >
       <center>
        <form action="" class="m-5" style="padding: 20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);width: 50%;" >
            <h1>ADD PAYMENT TERMS</h1>
            <input type="text" class="form-control mt-5" placeholder="enter Payment Term" style="outline: none;border: none;border-bottom: 3px solid rgb(113, 179, 240);width: 80%;" required>
            <input type="submit" class="btn btn-outline-primary mt-5" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" >
        </form>
       </center>

    </div>
</div>



{% endblock content %}